#nav-menu {
    background-color: orange;
}

#nav-link {
    font-weight: 600;
}

#div-content {
    padding: 120px 0 50px 0;
}

#div-slogan {
    color: orange;
}

#div-da-dang {
    background-color: lightgoldenrodyellow;
}
#div-chat-luong {
    background-color: yellow;
}
#div-huong-vị {
    background-color: lightsalmon;
}
#div-dich-vu {
    background-color: orange;
}

#div-footer {
    background-color: orange;
}

.inp-modal {
    background-color: #e9ecef;
}

.modal-info {
    border: 0px;
}